@model _6351071034_LTWEB_K63.Models.SACH

@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_HomeLayOutPage.cshtml";
}


            <div id="templatemo_content_right">
                <div id="templatemo_container" style="width:auto">
                    <h1>@Model.Tensach <span>(by @Model.NHAXUATBAN.TenNXB)</span></h1>
                    <img src="@Model.Anhbia" alt="@Model.Tensach" style="width:200px;height:300px;" />
                    <div class="product_info">
                        <p>@Model.Mota</p>
                        <h3>@String.Format("{0:C}", Model.Giaban)</h3>
                        <div class="buy_now_button">
                            <a href="@Url.Action("ThemGiohang", "GioHang", new {@iMasach = @Model.Masach, @strURL= Request.Url.ToString()})">
                                Buy Now
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
       






