@model IEnumerable<_6351071034_LTWEB_K63.Models.SACH>

@{
    ViewBag.Title = "BooksByCategory";
    Layout = "~/Views/Shared/_HomeLayOutPage.cshtml";
}

            <div id="templatemo_content_right">
                @if (Model == null || !Model.Any())
                {
                    <p>No books found.</p>
                }
                else
                {
                    foreach (var book in Model)
                    {
                        <div class="templatemo_product_box">
                            <h1>@book.Tensach <span>(by @book.NHAXUATBAN.TenNXB)</span></h1>
                            <img src="@book.Anhbia" alt="@book.Tensach" style="width:100px;height:150px;" />
                            <div class="product_info">
                                <p>@book.Mota</p>
                                <h3>@String.Format("{0:C}", book.Giaban)</h3> 
                                <div class="detail_button">
                                    <a href="@Url.Action("BookDetail", "Home", new { id = book.Masach })">Detail</a>
                                </div>
                            </div>
                            <div class="cleaner">&nbsp;</div>
                        </div>
                    }
                }
            </div> <!-- end of content right -->
